---
---
/* Tech Stack */

.tech-stack {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .tech-stack {
    background-image: url(/_static/common/img/technos.png) !important;
    height: 120px !important;
  }
}

.tech-stack {
  background-image: url(/_static/common/img/technos-medium.png);
  height: 200px;
}
