{%- assign libs_version = site.data.config.libs.version -%}
<!-- Third-party CSS -->
<link type="text/css" rel="stylesheet" href="/_static/site/libs/bootstrap/{{ libs_version.bootstrap }}/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/_static/site/libs/font-awesome/{{ libs_version.font-awesome }}/css/all.min.css"/>
<!-- Local CSS -->
<link type="text/css" rel="stylesheet" href="/_static/site/css/main.css"/>
{%- if page.article -%}
<link type="text/css" rel="stylesheet" href="/_static/site/css/article.css"/>
{%- elsif page.articles -%}
<link type="text/css" rel="stylesheet" href="/_static/site/css/articles.css"/>
{%- else -%}
<link type="text/css" rel="stylesheet" href="/{{ page.path | replace: '.html', '.css' }}"/>
{%- endif -%}
