{%- assign libs_version = site.data.config.libs.version -%}
<!-- Load before DOMContentLoaded (<script> markup harcoded, ...) -->
<!-- Third-party JS -->
<script type="text/javascript" src="/_static/site/libs/jquery/{{ libs_version.jquery }}/js/jquery.min.js"></script>
<script type="text/javascript" src="/_static/site/libs/lazysizes/{{ libs_version.lazysizes }}/js/lazysizes.min.js"></script>
<script type="text/javascript" src='/_static/site/libs/mathjax/{{ libs_version.mathjax }}/js/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}});
</script>
<script type="text/javascript" src="/_static/site/js/main.js"></script>
<!-- Load after DOMContentLoaded -->
<!-- Third-party JS -->
<script type="text/javascript" defer src="/_static/site/libs/smooth-scroll/{{ libs_version.smooth-scroll }}/js/smooth-scroll.min.js"></script>
<script type="text/javascript" defer src="/_static/site/libs/popper/{{ libs_version.popper }}/js/popper.min.js"></script>
<script type="text/javascript" defer src="/_static/site/libs/bootstrap/{{ libs_version.bootstrap }}/js/bootstrap.min.js"></script>
<script type="text/javascript" defer src="/_static/site/libs/moment/{{ libs_version.moment }}/js/moment.min.js"></script>
<script type="text/javascript" defer src="/_static/site/libs/fuse/{{ libs_version.fuse }}/js/fuse.min.js"></script>
<!-- Local JS -->
<script type="text/javascript" defer src="/_static/site/js/typing-text.min.js"></script>
{%- if page.article -%}
<script type="text/javascript" defer src="/_static/site/js/article.js"></script>
{%- elsif page.articles -%}
<script type="text/javascript" defer src="/_static/site/js/articles.js"></script>
{%- else -%}
<script type="text/javascript" defer src="/{{ page.path | replace: '.html', '.js' }}"></script>
{%- endif -%}
