{%- assign blog_config = site.project.blog -%}
<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
  {% include meta.html %}
  {% include link.html %}
  {% include js.html %}
  {% include css.html %}
</head>

<body>

{%- if blog_config.lang.header_text %}
<div id="original-lang" style="display: none;">
  {{ blog_config.lang.header_text }}
</div>
{%- endif %}

<header>
  {% include header.html %}
</header>

<div id="content" class="container">
  <div class="row">
    {% include loader.html %}
    {{ content }}
    {% include disqus.html %}
  </div>
</div>

<footer>
  {% include footer.html %}
</footer>

{% include go-to-top.html %}

{%- if blog_config.google_analytics_code %} {% include google-analytics.html %} {% endif %}
{%- if blog_config.lang %} {% include google-translate.html %} {% endif %}
</body>

</html>
