{%- assign config_attachment = site.project.article.attachment -%}
{%- assign article_id = page.date | date: '%Y-%m-%d-' | append: page.title | slugify -%}
<figure title="{{ include.title | default: '' }}" class="content">
  <div>
    <img class="img-fluid lazyload"
         {% if include.abs_url %}
         data-src="{{ include.src }}"
         {% else %}
         data-src="{{ config_attachment.url }}/{{ article_id }}/{{ config_attachment.image.path }}/{{ include.src }}{{ config_attachment.image.suffix }}"
         {% endif %}
         title="{{ include.title | default: '' }}"
         alt="{{ include.title | default: '' }}"
    />
  </div>
  <figcaption>
    {{ include.title | default: '' }}
    {% if include.source %}
      [<a href="{{ include.source }}" target="_blank" rel="noopener noreferrer" >source</a>]
    {% elsif include.source_author %}
      [built by author]
    {% elsif include.source_adapted %}
      [adapted from <a href="{{ include.source_adapted }}" target="_blank" rel="noopener noreferrer" >source</a>]
    {% endif %}
  </figcaption>
</figure>
