---
layout: default
permalink: /about/
---
<div id="page-about">

  <p>
    I created this blog to share my <b>knowledge</b> and <b>experiences</b> with you around <b>challenges</b>
    that I have could encounter about <b>computer science</b> <img height=25 src="/static/img/perso/smiley.png">.
  </p>

  {% include stack.html %}

  <p style="text-align:center">
    {% include avatar.html %}
  </p>

  <p style="text-align:left">
    Briefly I am a <b class="notranslate">software engineer</b>. I love coding, the algorithms and
    the applied mathematics.
    I worked as <span class="notranslate">web full stack developer</span>
    <img height=25 src="/static/img/perso/web-icon.png">
    and <span class="notranslate">software reliability engineer</span>
    <img height=25 src="/static/img/perso/infra.png">.
    I have had several professional experiences by working successively in a <b>start-up</b> and
    in a <b>multinational organization</b>.
    I am very excited by the start-up company world
    <img height=25 src="/static/img/perso/startup.png">
    and the process of creation.
    I am passionate about the computer science and the data science
    <img height=25 src="/static/img/tech/data-science.png">,
    and more generally about <b>the informatics and the mathematics</b>.
    One of my preferred formulae is the Euler's identity: $e^{i\pi} + 1 = 0$.
    My favorite programming languages are Java <img height=25 src="/static/img/tech/java.png">
    and Python <img height=25 src="/static/img/tech/python.png">.
    I am a Linux user <img height=25 src="/static/img/tech/linux.png">,
    I use Ubuntu <img height=25 src="/static/img/tech/ubuntu.png">.
  </p>

  <p style="text-align:center">
    Follow me:
    {% include social.html %}
  </p>

</div>
