# See https://git-scm.com/docs/gitignore

# Jekyll - static site generator
_site/
build/
.sass-cache
.jekyll-metadata
.jekyll-cache

# RubyMine - integrated development environment
.idea/

# Backup files
*.old
