# See https://git-scm.com/docs/gitignore

# Jekyll - web server
_site/
.sass-cache
.jekyll-metadata
.jekyll-cache
# personal file to debug
.jekyll-config-debug.json

# RubyMine - integrated development environment
.idea/

# Backup files
*.old
