{%- assign config_core = site.project_core -%}
{%- assign config_blog = site.project.blog -%}
<div class="container">
  <div class="row footer-info">
    <div class="d-md-none col-md-12 logo">
      <a href="/" title="Go to the home page">
        <img class="img-fluid lazyload w-75" data-src="{{ config_blog.logo_header }}" alt="site logo"/>
      </a>
    </div>

    {%- if config_blog.menu_items %}
    <div class="col-md-4 col-12 plan">
      <h1>Plan</h1>
      {%- include menu.html menu_items=config_blog.menu_items %}
    </div>
    {% else %}
    <div class="col-md-4 col-12 plan"></div>
    {% endif %}

    <div class="d-none d-md-block col-md-4 logo">
      <a href="/" title="Go to the home page">
        <img class="img-fluid lazyload" data-src="{{ config_blog.logo_header }}" alt="site logo"/>
      </a>
    </div>


    {%- if config_blog.socials %}
    <div class="col-md-4 col-12 follow">
      <h1 class="title">Follow</h1>
      {% include social.html %}
    </div>
    {% else %}
    <div class="col-md-4 col-12 follow"></div>
    {% endif %}
  </div>

  <div class="row links">
    <div class="col-12">
      <p>
        {% if config_blog.status_availability.link and config_blog.status_availability.link != '' %}
        <a class="link-strong" href="{{ config_blog.status_availability.link }}"
           title="See the status and availability">Status & Availability</a> |
        {% endif %}
        <a class="link-strong" href="/sitemap.xml" title="See the site map">Sitemap</a> |
        <a class="link-strong" href="/rss.xml" title="Subscribe to RSS feed"><span class="notranslate">RSS</span></a> |
        <a class="link-strong" href="/atom.xml" title="Subscribe to Atom feed"><span class="notranslate">Atom</span></a>
      </p>
    </div>
  </div>


  <!-- Please don't remove that due to license rules -->
  <div class="row copyright notranslate">
    <div class="col-12">
      <hr>
      <p>
        Powered by
        <a class="link-strong" href="{{ config_core.links.project }}" target="_blank" rel="noopener noreferrer" title="See the original project">
          {{ config_core.title }}
        </a> - ©Copyright {{ 'now' | date: "%Y" }}.
        <br>
        <a class="link-strong" href="{{ config_core.links.demo }}" target="_blank" rel="noopener noreferrer" title="Test the online template">Demo</a>
        |
        <a class="link-strong" href="{{ config_core.links.code }}" target="_blank" rel="noopener noreferrer" title="Explore the source code">Source code</a>
        |
        <a class="link-strong" href="{{ config_core.links.doc }}" target="_blank" rel="noopener noreferrer" title="Read the documentation">Documentation</a>
        |
        <a class="link-strong" href="{{ config_core.links.bug }}" target="_blank" rel="noopener noreferrer" title="Report a bug">Bug</a> |
        <a class="link-strong" href="{{ config_core.links.license }}" target="_blank" rel="noopener noreferrer" title="See the license">License</a>
        <br>
        Version: <span class="notranslate">{% include VERSION %}</span>
      </p>
    </div>
  </div>
  <!-- End -->

</div>
