---
layout: default
---
<div id="page-contact">

  <div class="row">
    <div class="col-lg-6">
      <p style="text-align:justify">
        Currently, I live in Paris <img height=25 src="/_static/common/img/eiffel-tower.png" alt="eiffel-tower"/>, the
        most beautiful city in the world.
      </p>

      <div style="margin-bottom: 1em">
        {% include avatar.html %}
      </div>

      {% include project/contact-me.html %}

    </div>

    <div class="col-lg-6">
      <iframe title="address" width="100%" height="100%"
              src="https://maps.google.com/maps?q=Paris&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100">
      </iframe>
    </div>
  </div>

  <br>

  {% include project/contact-me-why.html %}

</div>
