---
layout: default
---
<div id="page-contact">

  <p class="text-center">
    <b style="font-size: 2em">Contact me</b>
  </p>

  <div class="row">
    <div class="col-lg-3 col-md-6 text-center">
      <div style="margin-bottom: 1em">
        {% include avatar.html %}
      </div>
      <a href="/about/#about-me" title="About me">
        <button class="btn btn-secondary">
          <b class="black">About me</b>
        </button>
      </a>
      <a href="/contact/email">
        <button class="btn btn-success">
          <b>Contact form</b>
        </button>
      </a>
    </div>
    <div class="col-lg-3 col-md-6">
      <br>
      💬 " <b>Network intelligence</b> is the ability to learn from a <b>diverse</b> group of connections. Wherever you work, look beyond
      your walls: there are more <b>smart</b> people <b>outside</b> than inside your organization. " - Reid Hoffman
      <br>
    </div>

    <div style="margin-top: 1em" class="col-lg-6 col-md-12">
      <p style="text-align:justify">
        Currently, I live in Paris <img height=25 src="/_static/common/img/eiffel-tower.png" alt="eiffel-tower"/>.
      </p>
      <iframe title="address" width="100%"
              src="https://maps.google.com/maps?q=Paris&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no">
      </iframe>
    </div>
  </div>

  {% include project/contact-me.html %}

  <br>

  {% include project/contact-me-why.html %}

  {% include content/separator.html %}

  {% include project/follow-me.html %}

</div>
