<div class="article-card">
  <a href="{{ post.url }}">
    <!-- Article metadata -->
    <div class="article-metadata">

      <!-- Article cover -->
      <div class="article-cover">
        <img class="img-fluid" src="/website/img/articles/{{ post.cover }}"/>
      </div>

      <!-- Article title -->
      <div class="article-title">
        {{ post.title }}
      </div>

      <!-- Article description -->
      <div class="article-description">
        {{ post.description }}
      </div>

      <!-- Article categories -->
      <div class="article-categories">
        <ul>
          {% for category in post.categories %}
          <li>{{ category }}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Article details -->
      <div class="article-details">
        <!-- Article publication date -->
        <div class="date">
          <i class="fa fa-calendar"></i>
          <span>{{ post.date | date: '%B %d, %Y' }}</span>
        </div>
        <!-- Article reading time -->
        <div class="reading-time">
          <i class="fa fa-bookmark-o"></i>
          <span>{{ post.time_reading_minutes }} min</span>
        </div>
      </div>

    </div>
  </a>
</div>

