<div class="article-card-container">
  <a href="{{ post.url }}">
    <!-- Article metadata -->
    <div class="article-card">

      <!-- Article cover -->
      <div class="article-cover">
        {%- assign article_cover = post.id | slice: 1,post.id.size | replace: '/', '-' | append: '.jpg' -%}
        <img class="img-fluid" src="/static/img/articles/cover/{{article_cover}}" alt="{{article_cover}}"/>
      </div>

      <!-- Article details -->
      <div class="article-details">
        <!-- Article title -->
        <div class="article-title">
          {{ post.title }}
        </div>

        <!-- Article description -->
        <div class="article-description">
          {{ post.description }}
        </div>

        <!-- Article categories -->
        <div class="article-category">
          <ul>
            <li>{{ post.category }}</li>
          </ul>
        </div>

        <!-- Article publication date -->
        <div class="date">
          <i class="fa fa-calendar"></i>
          <span>{{ post.date | date: '%B %d, %Y' }}</span>
        </div>
        <!-- Article reading time -->
        <div class="reading-time">
          <i class="fa fa-bookmark-o"></i>
          <span>{{ post.time_reading_minutes }} min</span>
        </div>
      </div>

    </div>
  </a>
</div>

