<a href="{{ post.url }}">
  <div class="article">

    <!-- Article metadata -->
    <div class="article-metadata">

      <!-- Article cover -->
      <div class="article-cover">
        <img class="img-fluid" src="/website/img/articles/{{ post.cover }}"/>
      </div>


      <!-- Article details -->
      <div class="article-details">
        <!-- Article title -->
        <div class="article-title">
          {{ post.title }}
        </div>
        <!-- Article description -->
        <div class="article-description">
          {{ post.description }}
        </div>
        <!-- Article tags -->
        <div class="article-tags">
          <ul>
            {% for tag in post.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
        </div>
        <!-- Article publication date -->
        <div class="date">
          <i class="fa fa-calendar"></i>
          <span>{{ post.date | date: '%B %d, %Y' }}</span>
        </div>
        <!-- Article reading time -->
        <div class="reading-time">
          <i class="fa fa-bookmark-o"></i>
          <span>{{ post.time_reading_minutes }} min</span>
        </div>
      </div>

      <!-- Article tags
      <div class="tags">

        <ul>

          <li>
            <a href="/articles/?tag=Algorithm">Algorithm</a>
          </li>

          <li>
            <a href="/articles/?tag=Enumeration">Enumeration</a>
          </li>

          <li>
            <a href="/articles/?tag=Mathematics">Mathematics</a>
          </li>

        </ul>

      </div>
      -->
    </div>
  </div>
</a>
