<div style="text-align:center">
    <img class="link-light icon-avatar" src="/static/common/utils/img/avatar.jpg">
    <br>
    <span class="notranslate" style="font-size:1.2em;font-weight: bold;">
        Gilles Legoux
    </span>
    <br>
    <span class="notranslate" style="color:grey;font-weight: 300;">
        Software Engineer
    </span>
    <br>
    <a href="{{ site.data.links.github }}">
        <img class="notranslate" height=25 src="/static/common/utils/img/github.png" title="GitHub">
    </a>
    &nbsp;
    <a href="{{ site.data.links.linkedin }}">
        <img class="notranslate" height=25 src="/static/common/utils/img/linkedin.png" title="LinkedIn">
    </a>
    &nbsp;
    <a href="{{ site.data.links.stackoverflow }}">
        <img class="notranslate" height=25 src="/static/common/utils/img/stackoverflow.png" title="Stack Overflow">
    </a>
    &nbsp;
    <a href="{{ site.data.links.stackshare }}">
        <img class="notranslate" height=25 src="/static/common/utils/img/stack.png" title="Stack Share">
    </a>
</div>
