<footer>
  <div class="container">

    <div class="row">

      <div class="logo col-md-3 col-6">
        <a href="/">
          <img src="/website/img/ensimag-alumni-green-white.png" alt="Logo Ensimag Alumni" class="img-fluid"><br>
          <b>Association des anciens élèves de l'Ensimag</b>
        </a>
        <br>
        <a href="mailto:{{ site.data.contact.email.contact }}" title="Email"><i class="icon email fa fa-envelope-o"></i>
          <span>{{ site.data.contact.email.contact }}</span></a>
      </div>

      <div class="assocation col-md-3 d-md-inline d-none">
        <table>
          <tbody>
            <tr>
              <td>
                <h6>Assocation</h6>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <b>Siège social</b><br>
                  <br>
                  681, Rue de la Passerelle<br>
                  38402 St Martin d'Hères cedex<br>
                  <br>
                  <b>Adresse postale</b><br>
                  <br>
                  68, Boulevard de Port Royal<br>
                  75005 Paris
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="partner col-3">
        <table>
          <tbody>
            <tr>
              <td>
                <h6>Partenaires</h6>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ site.data.links.ensimag }}" target="_blank">
                  <img src="/website/img/ensimag-small.png" alt="Logo Ensimag" class="img-fluid">
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ site.data.links.nsigma }}" target="_blank">
                  <img src="/website/img/nsigma.png" alt="Logo NSigma" class="img-fluid">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="network col-3">
        <table>
          <tbody>
            <tr>
              <td colspan="2">
                <h6>Réseaux</h6>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ site.data.links.twitter }}" target="_blank" title="Twitter">
                  <i class="icon fa fa-twitter"></i>
                </a>
              </td>
              <td>
                <a href="{{ site.data.links.twitter }}" target="_blank" title="Twitter">
                  <span class="d-lg-inline d-none">Twitter</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ site.data.links.facebook }}" target="_blank" title="Facebook">
                  <i class="icon fa fa-facebook"></i>
                </a>
              </td>
              <td>
                <a href="{{ site.data.links.facebook }}" target="_blank" title="Facebook">
                  <span class="d-lg-inline d-none">Facebook</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ site.data.links.linkedin }}" target="_blank" title="LinkedIn">
                  <i class="icon fa fa-linkedin"></i>
                </a>
              </td>
              <td>
                <a href="{{ site.data.links.linkedin }}" target="_blank" title="LinkedIn">
                  <span class="d-lg-inline d-none">LinkedIn</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="{{ site.data.links.eventbrite }}" target="_blank" title="MeetUp">
                  <i class="icon fa fa-meetup"></i>
                </a>
              </td>
              <td>
                <a href="{{ site.data.links.eventbrite }}" target="_blank" title="MeetUp">
                  <span class="d-lg-inline d-none">MeetUp</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="association col-12 d-md-none d-inline">
        <p>
          <b>Siège social</b><br>
          681, Rue de la Passerelle, 38402 St Martin d'Hères cedex<br>
          <br>
          <b>Adresse postale</b><br>
          68, Boulevard de Port Royal, 75005 Paris
        </p>
      </div>
    </div>

    <div class="row">
      <div class="copyright col-12">
        <p>
          Ensimag Alumni, Association des anciens élèves de l'Ensimag.<br>
          ©Copyright 1984-{{ 'now' | date: "%Y" }}. Tous droits réservés.<br>
          Version: {% include VERSION %}.
        </p>
      </div>
    </div>

  </div>

</footer>
