<div class="hr"></div>
<div class="flex-container">
  <!-- Name -->
  <div id="name">
    @GillesLegoux (glegoux)<br>
    <i>Software Engineer</i>
  </div>
  <!-- Menu -->
  <div id="menu" class="d-none d-lg-block">
    <ul class="menu-content">
      <li>
        <a class="focus" href="/home/">
          Home
        </a>
      </li>
      <li>
        <a class="button" href="/blog/">
          Blog
        </a>
      </li>
      <li>
        <a href="/about/">
          About
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/gilleslegoux/">
          Contact
        </a>
      </li>
      <li>
        <a href="javascript:" class="lang" data-lang="fr">
          <img src="/website/img/lang/french.png" alt="french">
          <span>FR</span>
        </a>
        <br>
        <a href="javascript:" class="lang" data-lang="en">
          <img class="lang" src="/website/img/lang/english.png" alt="english">
          <span class="focus">EN</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Menu for small screen -->
<div id="menu-icon" class="d-lg-none">
  <a href="javascript:"><i class="fa fa-bars"></i></a>
</div>

<div id="sidebar-overlay" style="display: none">
  <div id="sidebar"></div>
</div>
