<div class="flex-container">
  <!-- Name -->
  <div id="name">
    <a href="/">@GillesLegoux (glegoux)</a>
  </div>
  <!-- Menu -->
  <div id="menu" class="d-none d-lg-block">
    <ul class="menu-content">
      <li>
        <a class="link-strong" href="/home">
          Home
        </a>
      </li>
      <li>
        <a class="link-strong" href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a class="link-strong notranslate" href="/about">
          About
        </a>
      </li>
      <li>
        <a class="link-strong" href="/contact">
          Contact
        </a>
      </li>
      <li>
        <a class="lang link-strong" href="javascript:" data-lang="french">
          <span>FR</span>
        </a>
        <br>
        <a class="lang link-strong" href="javascript:" data-lang="english">
          <span class="focus">EN</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Menu for small screen -->
<a href="javascript:" style="display: block">
  <div id="menu-icon" class="d-lg-none">
    <i class="fa fa-bars"></i>
  </div>
</a>

<div id="sidebar-overlay" style="display: none">
  <div id="sidebar">
    <div id="sidebar-close">x</div>
  </div>
</div>
