<header>
  <nav id="navbar">
    <div class="container">
      <div class="row">
        <a class="logo col-lg-2 col-5" href="/">
          <img src="/website/img/ensimag-alumni-white.png" alt="Logo Ensimag Alumni" class="img-fluid">
        </a>

        <div class="login d-lg-none col-4 d-inline">
          <a href="{{ site.data.links.login }}" class="btn btn-default">Connexion</a>
        </div>

        <div id="toggler" class="d-lg-none col-3">
          <a href="javascript:">
            <i class="icon fa fa-bars"></i>
          </a>
        </div>

        <div id="menu" class="col-lg-8 d-lg-inline d-none">
          <ul>
            <hr class="d-lg-none">
            <li class="d-lg-inline d-block"><a href="/association/">association</a></li>
            <hr class="d-lg-none">
            <li class="d-lg-inline d-block"><a href="/events/">évènements</a></li>
            <hr class="d-lg-none">
            <li class="d-lg-inline d-block"><a href="/network/">réseau</a></li>
            <hr class="d-lg-none">
            <li class="d-lg-inline d-block"><a href="/career/">carrière</a></li>
            <hr class="d-lg-none">
            <li class="d-lg-inline d-block"><a href="{{ site.data.links.signup }}">inscription</a></li>
            <hr class="d-lg-none">
            <li class="d-lg-inline d-block"><a href="/contact/">contact</a></li>
          </ul>
        </div>

        <div class="login col-lg-2 d-lg-inline d-none">
          <a href="{{ site.data.links.login }}" class="btn btn-default">Connexion</a>
        </div>

      </div>
    </div>
  </nav>
</header>
