{%- assign libs_version = site.data.config.libs.version -%}
<!-- Third-party JS -->
<script
  src="/static/libs/jquery/{{ libs_version.jquery }}/js/jquery.min.js"
  type="text/javascript">
</script>
<script async
        src="/static/libs/smooth-scroll/{{ libs_version.smooth-scroll }}/js/smooth-scroll.min.js"
        type="text/javascript">
</script>
<script async
        src="/static/libs/popper/{{ libs_version.popper }}/js/popper.min.js"
        type="text/javascript">
</script>
<script async
        src="/static/libs/bootstrap/{{ libs_version.bootstrap }}/js/bootstrap.min.js"
        type="text/javascript">
</script>
<script async
        src="/static/libs/moment/{{ libs_version.moment }}/js/moment.min.js"
        type="text/javascript">
</script>
<script async
        src="/static/libs/fuse/{{ libs_version.fuse }}/js/fuse.min.js"
        type="text/javascript">
</script>
<script async
        src="/static/libs/lazysizes/{{ libs_version.lazysizes }}/js/lazysizes.min.js"
        type="text/javascript">
</script>
<!-- Local JS -->
<script async src="/static/js/main.js" type="text/javascript"></script>
<script async src="/static/js/typing-text.min.js" type="text/javascript"></script>
{%- if page.article -%}
<script async src="/static/js/article.js" type="text/javascript"></script>
{%- elsif page.articles -%}
<script async src="/static/js/articles.js" type="text/javascript"></script>
{%- else -%}
<script async src="/{{ page.path | replace: '.html', '.js' }}" type="text/javascript"></script>
{%- endif -%}
