<!-- Dependencies Javascript -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/{{ site.data.versions.smooth-scroll }}/smooth-scroll.min.js"
  type="text/javascript" integrity="sha256-MhIEydYjM8X/lfw31uxgXHB5BCo+bQX6BmFJYmzty7w="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ site.data.versions.jquery }}/jquery.min.js"
  type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/{{ site.data.versions.popper }}/umd/popper.min.js"
  type="text/javascript" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.data.versions.bootstrap }}/js/bootstrap.js"
  type="text/javascript" integrity="sha256-82SVOjZ1qLdrq8VUmAisFapCSq1bpgavtXQaDGLPAAg="
  crossorigin="anonymous"></script>
<!-- Website Javascript -->
<script src="/website/js/main.js" type="text/javascript"></script>
<script src="/{{ page.path | replace: '.html', '.js' }}" type="text/javascript"></script>
