<!-- Third-party JS -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/{{ site.data.versions.smooth-scroll }}/smooth-scroll.min.js"
  type="text/javascript" integrity="sha256-MhIEydYjM8X/lfw31uxgXHB5BCo+bQX6BmFJYmzty7w="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ site.data.versions.jquery }}/jquery.min.js"
  type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/{{ site.data.versions.popper }}/umd/popper.min.js"
  type="text/javascript" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.data.versions.bootstrap }}/js/bootstrap.min.js"
  type="text/javascript" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/{{ site.data.versions.moment }}/moment.min.js"
  type="text/javascript" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/{{ site.data.versions.fuse }}/fuse.min.js"
  type="text/javascript" integrity="sha256-Ip4QHtgKZ03eHg4RelwjOWXTExYld+1I2axqbSjVWWM="
  crossorigin="anonymous"></script>
<!-- Local JS -->
<script src="/website/js/main.js" type="text/javascript"></script>
<script src="/website/js/typing-text.min.js" type="text/javascript"></script>
{%- if page.article -%}
<script src="/website/js/article.js" type="text/javascript"></script>
{%- elsif page.articles -%}
<script src="/website/js/articles.js" type="text/javascript"></script>
{%- else -%}
<script src="/{{ page.path | replace: '.html', '.js' }}" type="text/javascript"></script>
{%- endif -%}
