<!-- Preconnect links -->
<link rel="preconnect" crossorigin="anonymous" href="https://translate.googleapis.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.google-analytics.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.gstatic.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.google.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://a.disquscdn.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://c.disquscdn.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://disquscdn.com"/>
<!-- Preload JS links -->
<link rel="preload" as="script"
      href="/static/libs/jquery/{{ site.data.versions.jquery }}/js/jquery.min.js"/>
<!-- Preload CSS links -->
<link rel="preload" as="style"
      href="/static/libs/bootstrap/{{ site.data.versions.bootstrap }}/css/bootstrap.min.css"/>
<link rel="preload" as="style"
      href="/static/libs/font-awesome/{{ site.data.versions.font-awesome }}/css/all.min.css"/>
<link rel="preload" as="style"
      href="/static/css/main.css"/>
