{%- assign libs_version = site.data.config.libs.version -%}
<!-- Preconnect links -->
<link rel="preconnect" crossorigin="anonymous" href="https://translate.googleapis.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.google-analytics.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.gstatic.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.google.com"/>
{%- if page.comment -%}
<link rel="preconnect" crossorigin="anonymous" href="https://a.disquscdn.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://c.disquscdn.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://disquscdn.com"/>
{%- endif -%}
<!-- Preload Font -->
<link rel="preload" as="font"
      href="/static/libs/font-awesome/{{ libs_version.font-awesome }}/webfonts/fa-regular-400.woff2"/>
<link rel="preload" as="font"
      href="/static/libs/font-awesome/{{ libs_version.font-awesome }}/webfonts/fa-brands-400.woff2"/>
<link rel="preload" as="font"
      href="/static/libs/font-awesome/{{ libs_version.font-awesome }}/webfonts/fa-solid-900.woff2"/>
<!-- Preload JS links -->
<link rel="preload" as="script"
      href="/static/libs/jquery/{{ libs_version.jquery }}/js/jquery.min.js"/>
<!-- Preload CSS links -->
<link rel="preload" as="style"
      href="/static/libs/bootstrap/{{ libs_version.bootstrap }}/css/bootstrap.min.css"/>
<link rel="preload" as="style"
      href="/static/libs/font-awesome/{{ libs_version.font-awesome }}/css/all.min.css"/>
<link rel="preload" as="style"
      href="/static/css/main.css"/>
