<!-- Performance links -->
<link rel="preconnect" crossorigin="anonymous" href="https://www.google-analytics.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.gstatic.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://www.google.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://translate.googleapis.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://a.disquscdn.com"/>
<link rel="preconnect" crossorigin="anonymous" href="https://c.disquscdn.com"/>
<!-- Performance JS -->
<link rel="preload" as="script" crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ site.data.versions.jquery }}/jquery.min.js"/>
<!-- Performance CSS -->
<link rel="preload" as="style" crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.data.versions.bootstrap }}/css/bootstrap.min.css"/>
<link rel="preload" as="style" crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.data.versions.font-awesome }}/css/all.min.css"/>
<link rel="preload" as="style" crossorigin="anonymous"
      href="/static/css/main.css"/>
