<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Mobile Iphone -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/website/img/icon-iphone.png?v=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- Mobile Android -->
<meta name="mobile-web-app-capable" content="yes" />
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="{{site.data.theme.color}}" />
<!-- Desktop -->
<meta name="author" content="Gilles Legoux" />
<link rel="icon" type="image/png" href="/website/img/favicon.ico?v=1" />
<title>{{ page.title | default: "Blog" }}{% if page.url != '/' %} | Gilles Legoux{% endif %}</title>
<meta name="keywords" content="glegoux,Gilles,Legoux,informatics,mathematics" />
{%- seo title=false -%}
