<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!-- Mobile Iphone -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<link rel="apple-touch-icon" href="/static/img/icon-iphone.png?v=1"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!-- Mobile Android -->
<meta name="mobile-web-app-capable" content="yes"/>
<link rel="manifest" href="/manifest.json"/>
<meta name="theme-color" content="{{ site.data.theme.color }}"/>
<!-- Desktop -->
<link rel="icon" type="image/png" href="/static/img/favicon.ico?v=1"/>
<!-- Search Engine -->
<meta name="author" content="Gilles Legoux"/>
<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 100 }}{% else %}{{ site.description | truncate: 100  }}{% endif %}"/>
<meta name="keywords"
      content="glegoux,Gilles,Legoux,informatics,mathematics{%- if page.article -%},{{ page.categories }},{{ page.labels }}{%- endif -%}"/>
<!-- SEO -->
{% seo title=false %}
{%- if page.article -%}
<!-- Article cover social sharing -->
<meta property="og:image" content="{{ site.url }}/website/img/articles/{{ page.cover }}"/>
{%- endif -%}
