<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- mobile iphone -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/website/img/icon-iphone.png?v=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- mobile android -->
<meta name="mobile-web-app-capable" content="yes" />
<link rel="manifest" href="manifest.json" />
<meta name="theme-color" content="#8cc63f" />
<!-- desktop -->
<meta name="author" content="Ensimag Alumni" />
<link rel="icon" type="image/png" href="/website/img/favicon.png?v=1" />
<title>{{ page.title | default: "Association des anciens élèves de l'Ensimag" }}{% if page.url != '/' %} | Ensimag
    Alumni{% endif %}</title>
<meta name="keywords" content="Ensimag,Alumni" />
{% seo title=false -%}
