<div class="social">
  <ul>
    <li>
      <a class="icon rounded fa fa-linkedin" title="LinkedIn" href="https://www.linkedin.com/in/gilleslegoux">
      </a>
    </li>
    <li>
      <a class="icon rounded fa fa-twitter" title="Twitter" href="https://twitter.com/gilleslegoux">
      </a>
    </li>
    <li>
      <a class="icon rounded fa fa-github" title="GitHub" href="https://github.com/glegoux">
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a class="icon rounded fa fa-slideshare" title="SlideShare" href="https://fr.slideshare.net/gilleslegoux">
      </a>
    </li>
    <li>
      <a class="icon rounded fa fa-meetup" title="MeetUp" href="https://www.meetup.com/Paris-Programming-Contests-Meetup">
      </a>
    </li>
    <li>
      <a class="icon rounded fa fa-envelope" title="Email" href="https://www.linkedin.com/in/gilleslegoux">
      </a>
    </li>
  </ul>
</div>
