<div class="social">
  <ul>
    <li>
      <a class="icon rounded fab fa-linkedin" title="LinkedIn" href="{{ site.data.links.linkedin }}">
      </a>
    </li>
    <li>
      <a class="icon rounded fab fa-twitter" title="Twitter" href="{{ site.data.links.twitter }}">
      </a>
    </li>
    <li>
      <a class="icon rounded fab fa-github" title="GitHub" href="{{ site.data.links.github }}">
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a class="icon rounded fab fa-slideshare" title="SlideShare" href="{{ site.data.links.slideshare }}">
      </a>
    </li>
    <li>
      <a class="icon rounded fab fa-meetup" title="MeetUp" href="{{ site.data.links.meetup }}">
      </a>
    </li>
    <li>
      <a class="icon rounded fas fa-paper-plane" title="Email" href="/contact/email">
      </a>
    </li>
  </ul>
</div>
