---
---
#page-articles {

  width: 100%;

  .blog-header {
    text-align: center;

    .blinker {
      font-weight: 400;
      font-size: 1.5em;
      color: cornflowerblue;
    }
  }

  #articles-text-search {
    text-align: left;
    display: flex;
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 2.1em;
    margin-bottom: 1em;
    color: grey;

    input {
      width: 100%;
      border-radius: 5px;
      border: 0;
      padding: 0.5em;
      height: 2em;
      font-size: 1em;
    }

    input:focus {
      border: 0;
      outline: none;
    }

    .fa-search {
      padding: 0.5em;
      height: 2em;
    }
  }

  ul.articles-advanced-search, ul.articles-subscription {
    li {
      color: grey;
      margin-left: 1em;
      display: inline;
    }
  }

  ul.articles-subscription {
    color: grey;
  }

  ul.articles-advanced-search {
    color: black;
    font-size: 0.8em;
  }

  hr {
    margin-bottom: 0 !important;
  }

  ul.articles-subscription {
    font-size: 0.7em;
    text-align: right;
    margin-top: 0;
  }

  #articles-archive-container {

    li {
      display: inline;

      .month {
        display: inline-block;
        font-family: monospace;
        width: 3ch;
        overflow: hidden;
        white-space: nowrap;
        text-transform: uppercase;
        margin-right: 1em;
        color: #0366d6;
        font-size: 0.8em;
      }
    }

    li:nth-child(4n):after {
      display: block;
      content: '';
    }
  }

  #result-advanced-search {
    .article-search-result {
      width: 100%;
      padding-left: 1em;
      border-radius: 5px;

      .article-title {
        font-weight: bold;
      }

      .article-description {
        color: grey;
        font-size: 0.8em;
      }

      .article-details {
        color: grey;
        font-size: 0.6em;
      }
    }

    .article-search-result:hover {
      background-color: whitesmoke;
    }
  }


  .articles-pagination {
    display: block !important;
    text-align: center;

    .next {
      margin-left: 1em;
    }

    .previous {
      margin-right: 1em;
    }
  }
}
