/* Common */
.highlighter-rouge {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.highlight {
  padding: 0.2em 0.5em 0.1em 0.5em;
}

pre.highlight {
  margin: 0 !important;
}

/* Terminal */
.language-terminal .highlight {
  background-color: black !important;

  code * {
    color: white !important;
  }
}

