/* Footer */

footer {
  z-index: 1000;
  margin-top: 5em;
  padding-top: 2em;
  background-color: $color;
  color: white;
  font-size: 0.8em;

  a, a:hover {
    color: #cdced0;
  }

  h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;
    margin: 0 0 1em 0;
  }

  .blog, .contact, .language, .follow {
    margin-top: 2em;
  }

  .blog table, .contact table, .language table {
    display: flex;
    justify-content: center;
  }

  .language {
    img.lang {
      vertical-align: middle;
      height: 1em;
      width: 1em;
    }

    .focus {
      font-weight: bold;
      color: white;
      border-bottom: 1px solid white;
    }
  }

  hr {
    border: 0;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    margin: 2em 0;
  }

  .copyright {
    text-align: center;
    color: #858585;
  }

}


