/* Layout */

/* Content */

#content {
  position: relative;
  padding: 2em 2em 2em 2em;
  min-height: 700px;

  .title-page {
    margin-bottom: 1em;
  }
}

/* Loader */

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
  background-color: white;

  #loader-inner {
    margin-top: 150px;
  }
}

/* Multi-Lang */

#original-lang {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: grey;
  font-style: italic;
  border-bottom: 0.5px solid lightgrey;
  box-shadow: 0.5em 0 2em 0 rgba(0, 0, 0, 0.125);
  z-index: 1000;
}

/* Breadcrumb */

#breadcrumb {
  display: block !important;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white !important;

  .sep {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: dimgray !important;
  }

  a {
    color: cornflowerblue !important;
  }

  a:last-child {
    font-weight: bold !important;
  }

}

/* List */

ul {
  list-style-type: none;
  padding-inline-start: 0 !important;

}

/* Link and anchor */

a, a:visited, a:active, a:link, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.link-strong:hover {
  font-weight: bold;
}

.link, .link-inverse, .link-zoom, .link-light, .link-strong {
  text-decoration: none;
}

.link:hover {
  border-bottom: dashed 1px !important;
}

.link-zoom:hover {
  font-size: 100.5% !important;
}

.link-strong:hover {
  font-weight: 700 !important;
}

.link-light:hover {
  opacity: 1 !important;
}

/* Icon */

.icon {
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  text-align: center;
}

.icon.rounded {
  border-radius: 50% !important;
  display: inline-block;
}

.icon:hover {
  text-decoration: none;
  color: white;
}

/* Tech Stack */

.tech-stack {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .tech-stack {
    background-image: url(/website/img/perso/technos.png) !important;
    height: 120px !important;
  }
}

.tech-stack {
  background-image: url(/website/img/perso/technos-medium.png);
  height: 200px;
}

.avatar {
  opacity: 0.95;
  width: 150px;
  height: 150px;
}

/* Avatar */

.icon-avatar {
  opacity: 0.95;
  border-radius: 100%;
  width: 4em;
  height: 4em;
}

.medium-avatar {
  opacity: 0.95;
  border-radius: 100%;
  width: 3em;
  height: 3em !important;
  vertical-align: middle;
}

.small-avatar {
  opacity: 0.95;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  vertical-align: bottom;
}
