/* Layout */

/* Article */

.article-card {
  z-index: 1;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 450px;
  border-radius: 10px;

  .article-metadata {
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;

    .article-cover {
      img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }

    .article-details {
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size: 1em !important;

      .article-title {
        font-weight: bold;
        color: black;
        font-size: 1.2em;
      }

      .article-description {
        color: grey;
        font-size: 0.9em;
      }

      .date {
        position: absolute;
        bottom: 50px;
        left: 30px;
        font-size: 0.8em;
      }

      .reading-time {
        position: absolute;
        bottom: 50px;
        right: 30px;
        font-size: 0.8em;
      }
    }

    i.icon:hover {
      color: black;
    }

  }
}

.article-categories, .article-labels {
  padding: 0;
  font-size: 0.8em;

  ul {
    display: inline;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 0.3em 0.9em;
      margin: 0.25em 0.5em 0.25em 0;
      border-radius: 5px;
    }

    a {
      text-decoration: none;
    }
  }
}

.article-categories {
  li {
    background-color: #e7f3ff;
    color: #0366d6;
  }
}

.article-labels {
  li {
    background-color: whitesmoke;
    color: grey;
  }
}


/* Content */

#content {
  position: relative;
  padding: 2em 2em 2em 2em;
  min-height: 100vh;

  .title-page {
    margin-bottom: 1em;
    text-align: center;
  }
}

/* Loader */

#loader {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;

  #loader-inner {
    margin-top: 150px;
  }
}

/* Multi-Lang */

#original-lang {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: grey;
  font-style: italic;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.05);
  z-index: 1000;
  font-size: 1em;
  line-height: 1.2em;
  height: 1.2em;
}

/* Breadcrumb */

#breadcrumb {
  display: block !important;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white !important;

  .sep {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: dimgray !important;
  }

  a {
    color: cornflowerblue !important;
  }

  a:last-child {
    font-weight: bold !important;
  }

}

/* List */

ul {
  list-style-type: none;
  padding-inline-start: 0 !important;

}

/* Link and anchor */

a, a:visited, a:active, a:link, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.link-strong:hover {
  font-weight: bold;
}

.link, .link-inverse, .link-zoom, .link-light, .link-strong {
  text-decoration: none;
}

.link:hover {
  border-bottom: dashed 1px !important;
}

.link-zoom:hover {
  font-size: 100.5% !important;
}

.link-strong:hover {
  font-weight: 700 !important;
}

.link-light:hover {
  opacity: 1 !important;
}

/* Icon */

.icon {
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  text-align: center;
}

.icon.rounded {
  border-radius: 50% !important;
  display: inline-block;
}

.icon:hover {
  text-decoration: none;
  color: white;
}

/* Tech Stack */

.tech-stack {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .tech-stack {
    background-image: url(/website/img/perso/technos.png) !important;
    height: 120px !important;
  }
}

.tech-stack {
  background-image: url(/website/img/perso/technos-medium.png);
  height: 200px;
}

.avatar {
  opacity: 0.95;
  width: 150px;
  height: 150px;
}

/* Avatar */

.icon-avatar {
  opacity: 0.95;
  border-radius: 100%;
  width: 4em;
  height: 4em;
}

.medium-avatar {
  opacity: 0.95;
  border-radius: 100%;
  width: 3em;
  height: 3em !important;
  vertical-align: middle;
}

.small-avatar {
  opacity: 0.95;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  vertical-align: bottom;
}
