.social {
  cursor: default;
  list-style: none;
  color: white !important;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    display: inline;
    margin-left: 0.5em;
  }

  .fa-facebook {
    background-color: #3B5998;
  }

  .fa-twitter {
    background-color: #2daae4;
  }

  .fa-linkedin {
    background-color: #31516a;
  }

  .fa-send {
    background-color: #b6b6b4;
  }

  .fa-meetup {
    background-color: #e0393e;
  }

  .fa-github {
    background-color: black;
  }

  .fa-slideshare {
    background-color: #fbb917;
  }

}
