---
layout: default
---
{%- assign config_article = site.data.config.article -%}
{%- assign article_id = page.date | date: '%Y-%m-%d-' | append: page.title | slugify -%}
{%- assign related_posts = site.posts | sample:4 -%}
{%- assign n_tags = page.tags | size -%}
{%- assign n_authors = page.authors | size -%}
<div id="page-article" class="col-12">

  <!-- Article metadata -->
  <div class="article-metadata">

    <!-- Article category -->
    <div class="article-category">
      <ul>
        <li title="Category of this article">{{ page.category }}</li>
      </ul>
    </div>

    <!-- Article title -->
    <div class="article-title" title="Title of this article">
      {{ page.title }}
    </div>

    <!-- Article description -->
    <div class="article-description" title="Description of this article">
      {{ page.description }}
    </div>

    <!-- Article details -->
    <div class="article-details">
      <ul>
        <li title="Published date of this article">
          <i class="far fa-calendar-alt"></i>
          <span>{{ page.date | date: '%B %d, %Y' }}</span>
        </li>
        <li title="Reading time of this article">
          <i class="far fa-clock"></i>
          <span>
            {{ page.time_reading_minutes }} min
          </span>
        </li>
        {%- if n_authors > 0 -%}
        <li title="Author{%- if n_authors > 1 -%}s{%- endif %} of this article">
          <i class="far fa-user"></i>
          <span>
            {%- for author_name in page.authors -%}
              {%- assign author = site.data.authors[author_name] -%}
              <a class="link-strong" href="{{ author.follow_link }}" title="Follow this author">
                {{ author_name }}
              </a>
              {%- unless forloop.last -%},  {%- endunless -%}
            {%- endfor -%}
          </span>
        </li>
        {%- endif -%}
      </ul>
    </div>

    <!-- Article cover -->
    <div class="article-cover" title="Cover of this article">
      <ul>
        <li title="See the source code of this article">
          <a href="{{ config_article.source }}/{{ article_id }}.md">
            <i class="far fa-file-code"></i>
            Source code
          </a>
        </li>
        <li title="See the resources of this article">
          <a href="{{ config_article.static }}/{{ article_id }}">
            <i class="fas fa-code-branch"></i>
            Resources
          </a>
        </li>
      </ul>
    </div>

    {%- assign article_cover_path = "/_static/common/posts/" | append: article_id | append: ".jpg" -%}
    {%- assign article_cover_path_exist = site.static_files | where: "path", article_cover_path | first -%}
    {%- unless article_cover_path_exist -%}
      {%- assign article_cover_path = "/_static/site/img/default/article-cover.jpg" -%}
    {%- endunless -%}
    <img class="img-fluid lazyload" data-src="{{ article_cover_path }}"
         alt="{{ article_id }}" title="Cover of this article"/>

  </div>

  <!-- Article content -->
  <div id="article-content">

    <div class="row">
      <div class="col-6">
        {% include page-social-sharing.html %}
      </div>
      <div class="col-6 article-browser">
        <a href="/blog/articles" title="See all articles">
          <i class="fas fa-home"></i>
        </a>
        {%- if page.previous.url -%}
        <a href="{{ page.previous.url }}" title="See the previous article">
          <i class="fas fa-arrow-left"></i>
        </a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{ page.next.url }}" title="See the next article">
          <i class="fas fa-arrow-right"></i>
        </a>
        {%- endif -%}
      </div>
    </div>

    <!-- Article contents -->
    <div class="article-contents">
      <button id="table-of-contents" class="btn btn-dark" title="See table of contents">
        <b>See contents</b>
      </button>
      <div id="table-of-contents-container" style="display: none;"></div>
    </div>

    <div class="markdown-body">
      {{ content }}
    </div>

    <div class="article-category-tags">
      <ul>
        <li>
          <!-- Article category -->
          <span>Category: </span>
          <span class="article-category">
            <ul>
              <li title="Category of this article">{{ page.category }}</li>
            </ul>
          </span>
        </li>
        {% if n_tags > 0 %}
        <li>
          <!-- Article tags -->
          <span>Tags: </span>
          <span class="article-labels">
            <ul>
              {% for tag in page.tags %}
              <li title="Tag of this article">{{ tag }}</li>
              {% endfor %}
            </ul>
          </span>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="row">
      <div class="col-6">
        {% include page-social-sharing.html %}
      </div>
      <div class="col-6 article-browser">
        <a href="/blog/articles" title="See all articles">
          <i class="fa fa-home"></i>
        </a>
        {%- if page.previous.url -%}
        <a href="{{ page.previous.url }}" title="See the previous article">
          <i class="fa fa-arrow-left"></i>
        </a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{ page.next.url }}" title="See the next article">
          <i class="fa fa-arrow-right"></i>
        </a>
        {%- endif -%}
      </div>
    </div>

  </div>

  <!-- Article license -->
  <div class="article-license" title="See the license">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
      <i class="cc notranslate">Creative Commons Attribution 4.0 International License:</i>
      <br/>
      <i class="fab fa-creative-commons notranslate" title="CC"></i>
      <i class="fab fa-creative-commons-by notranslate" title="BY"></i>
      <i class="fab fa-creative-commons-nc notranslate" title="NC"></i>
      <i class="fab fa-creative-commons-sa notranslate" title="SA"></i>
    </a>
  </div>
  <br>

  <!-- Article author -->
  {%- if n_authors > 0 -%}
  <div class="article-authors">
    <h5>
      Author{%- if n_authors > 1 -%}s{%- endif %}
    </h5>

    <hr/>

    <div class="row">
      {%- for author_name in page.authors -%}
      {%- assign author = site.data.authors[author_name] %}
      <div
        class="{% if n_authors == 1 %}w-100 {% endif %}col-xs-12{% if n_authors > 1 %} col-md-6{% endif %}{% if n_authors > 2 %} col-lg-4{% endif %}">
        <table class="article-author">
          <tbody>
          <tr>
            <td rowspan="2">
              {%- assign author_avatar_path = '/_static/common/authors/'  | append: author_name | append: '.jpg' -%}
              {%- assign author_avatar_path_exist = site.static_files | where: "path", author_avatar_path | first -%}
              {%- unless author_avatar_path_exist -%}
                {%- assign author_avatar_path = '/_static/site/img/default/author-avatar.png' -%}
              {%- endunless -%}
              <img src="{{ author_avatar_path }}" alt="picture of {{ author_name }}" title="picture of this author"/>
            </td>
            <td>
              <b>
                {{ author.firstname | capitalize }}
                {{ author.lastname | uppercase }}
              </b>
              ({{ author_name }})
            </td>
          <tr>
            <td>
              <span class="notranslate job">
              {{ author.job | capitalize }} @{{ author.company | capitalize }}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center">
              <a href="{{ author.follow_link }}" title="Follow this author">
                <br>
                <button class="btn btn-dark">
                  <b>Follow</b>
                </button>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}

  <!-- Other articles -->
  <div class="article-others">
    <h5>Also read</h5>

    <div class="row">
      {% assign index = 0 %}
      {% for post in related_posts %}
      {% if index == 3 %}
      {% break %}
      {% endif %}
      {% if page.title != post.title %}
      {% assign index = index | plus: 1 %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        {% include article-card.html %}
      </div>
      {% else %}
      {% continue %}
      {% endif %}
      {% endfor %}
    </div>

    <div class="article-list-all">
      <a href="/blog/articles">
        <button class="btn btn-dark" title="List all articles">
          <b>List all</b>
        </button>
      </a>
    </div>
  </div>

</div>
