---
---
#page-home {

  margin: auto;
  text-align: center;

  a.link {
    color: black !important;
  }

  .tech-stack {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    .tech-stack {
      background-image: url(/website/img/perso/technos.png) !important;
      height: 150px !important;
    }
  }

  .tech-stack {
    background-image: url(/website/img/perso/technos-medium.png);
    height: 300px;
  }

  .avatar {
    opacity: 0.95;
    width: 150px;
    height: 150px;
  }

  .icon-avatar {
    opacity: 0.95;
    border-radius: 100%;
    width: 4em;
    height: 4em;
  }

  .medium-avatar {
    opacity: 0.95;
    border-radius: 100%;
    width: 3em;
    height: 3em !important;
    vertical-align: middle;
  }

  .small-avatar {
    opacity: 0.95;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    vertical-align: bottom;
  }

}
