---
layout: default
permalink: /home/
---
<div id="page-home">

  {% include stack.html %}

  <p style="text-align: center">
    <a href="https://www.linkedin.com/in/gilleslegoux">
      <img class="link-light icon-avatar" src="/website/img/perso/avatar.jpg">
    </a>
  </p>

  <p style="text-align: center">
    Hello <img height=25 src="/website/img/perso/smiley.png">, I am
    <a class="link" href="/about">
      <b>Gilles Legoux.</b>
    </a><br>
    I created this blog to share my <b>knowledge</b> and <b>experiences</b> with you around <b>challenges</b>
    that I have could encounter about <b>computer science</b>.
  </p>

  {% include social.html %}

  <p>
    On this website, you can find three kinds of content:
  </p>

  <ul>
    <li style="display: inline;margin-right: 1em">
      <a class="link-strong" href="/blog/articles">
        <i class="fa fa-cloud"></i>
        <b class="link black notranslate">Articles</b>
      </a>
    </li>
    <li style="display: inline;margin-right: 1em">
      <a class="link-strong" href="/blog/projects">
        <i class="fa fa-pie-chart"></i>
        <b class="link black">Projects</b>
      </a>
    </li>
    <li style="display: inline">
      <a class="link-strong" href="/blog/snippets">
        <i class="fa fa-code"></i>
        <b class="link black notranslate">Snippets</b>
      </a>
    </li>
  </ul>

  <p style="text-align: center">
    <a href="/contact">
      <button class="btn">
        <b class="black">Contact me</b>
      </button>
    </a>
  </p>

</div>
