---
---
#page-article {

  .article-metadata {

    margin-bottom: 1em;

    ul {
      margin-bottom: 0 !important;
    }

    i.icon:hover {
      color: black;
    }

    .article-title {
      font-weight: bold;
      color: black;
      font-size: 2em;
    }

    .article-description {
      color: dimgrey;
      font-weight: 300;
      font-size: 1.5em;
    }

    .article-social {
      margin-bottom: 0.5em;
    }

    .article-authors-inline {
      img {
        width: 25px;
        height: 25px;
      }
    }

    .article-details {
      padding-left: 0;
      color: black;
      font-size: 0.8em;

      li {
        display: inline-block;
        padding-right: 0.5em;
      }

    }

  }

  .article-actions {
    color: dimgrey;
    font-weight: 300;
    font-size: 0.8em;
    text-align: right;

    ul {
      margin-bottom: 0;

      li {
        display: inline;
      }

      li:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  /* Table of contents */

  #table-of-contents {
    cursor: pointer;
    margin-bottom: 1.5em;
  }

  #table-of-contents-container {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left !important;
    border-radius: 10px;
    border: solid lightgrey 1px;
    padding: 1em;

    h1, h2, h3 {
      cursor: pointer;
    }

    h1 {
      font-size: 1em;
    }

    h2 {
      font-size: 0.8em;
      padding-left: 1em;
    }

    h3 {
      font-size: 0.6em;
      padding-left: 2em;
    }
  }

  /* Article Content */

  #article-content {
    width: 100%;

    h2 {
      padding-left: 1em;
    }

    h3 {
      padding-left: 2em;
    }
  }

  /* Article tags */

  .article-category-tags {
    ul {
      list-style-type: none;
    }
  }

  /* Article browser */

  .article-browser-container {
    display: flex;
    align-items: center;
    color: grey;
  }

  .article-browser {
    a {
      color: grey !important;
    }

    i {
      padding-right: 0.5em;
    }
  }

  /* Article License */

  .article-license {
    text-align: right;
    width: 100%;
    font-size: 0.8em !important;

    span {
      display: inline-block;
      background-position: center center;
      height: 0.8em;
      width: 0.8em;
      background-size: cover;
      vertical-align: middle;
    }

    .cc {
      font-size: 0.8em;
    }
  }

  /* Article Author */

  .article-authors {
    width: 100%;
    padding-top: 1em;
    margin-bottom: 2em;

    h5 {
      color: grey;
      text-align: center;
    }

    hr {
      width: 30%;
    }

    .article-author {
      margin-bottom: 1em;
    }

    .job {
      color: grey;
    }

    table {
      display: flex;
      justify-content: center;
    }

    img {
      height: 100%;
      border-radius: 50%;
      margin-right: 1em;
    }

  }

  /* Other Articles */

  .article-others {
    h5 {
      color: grey;
      margin-bottom: 1em;
    }

    .article-list-all {
      text-align: center;
      width: 100%;
      margin-bottom: 1em;
    }
  }

}

