---
layout: default
---
<div id="page-about">

  <p style="text-align:justify">
    I created this blog to share my <b>knowledge</b> and <b>experiences</b> with you <img class="notranslate" height=25 src="/_static/common/utils/img/smiley.png">, around <b>challenges</b>
    that I have could encounter about <b>computer science</b>. In addition of writting articles, I developed this blog
    as a <a class="link-strong" href="https://github.com/glegoux/glegoux.github.io"><u>open source project</u></a>
    <img height=25 src="/_static/common/utils/img/open-source.png">, you can either re-use it as a template for your blog or contribute to it.
  </p>

  {% include stack.html %}

  <div style="text-align:center">
    {% include avatar.html %}
  </div>

  <p style="text-align:justify">
    Briefly I am a <b class="notranslate">software engineer</b>. I love coding, the algorithms and
    the applied mathematics. I worked as <span class="notranslate"> web full stack developer</span>
    <img height=25 src="/_static/common/utils/img/web-icon.png"> and <span class="notranslate"> software
    reliability engineer</span> <img height=25 src="/_static/common/utils/img/infra.png">. I have had several
    professional experiences by working successively in a <b>start-up</b> and
    in a <b>multinational organization</b>. I am very excited by the start-up company world
    <img height=25 src="/_static/common/utils/img/startup.png"> and the process of creation. I am passionate about the computer science and the data science
    <img height=25 src="/_static/common/utils/img/data-science.png">, and more generally about <b>the informatics and the mathematics</b>.
    One of my preferred formulae is the Euler's identity: <span class="notranslate"> $ e^{i\pi} + 1 = 0 $ </span>.
    My favorite programming languages are Java <img height=25 src="/_static/common/utils/img/java.png">
    and Python <img height=25 src="/_static/common/utils/img/python.png">. I am a Linux user <img height=25 src="/_static/common/utils/img/linux.png">,
    I use Ubuntu <img height=25 src="/_static/common/utils/img/ubuntu.png">.
  </p>

  <div style="text-align:center">
    <p>
      Follow me:
    </p>
    {% include social.html %}
  </div>

</div>
