/* Header */

header {
  z-index: 1000;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  color: black !important;

  .flex-container {
    display: flex;

    #name {
      flex-grow: 1;
      margin-left: 2em;
    }

    #logo {
      margin-left: 0.5em;
      flex-grow: 1;
      img {
        height: 40px;
      }
    }

    #menu {
      margin-right: 2em;
    }

  }

  a {
    color: black !important;
  }

  #hr-above {
    height: 0.3em;
    width: 100%;
    background-color: $color;
    margin-bottom: 0.5em;
  }

  img {
    height: 1em;
  }

  ul li {
    text-transform: capitalize;
    display: inline-block;
    padding-right: 1em;
    vertical-align: top;
  }

  .menu-item.focus {
    font-weight: bold;
    border-bottom: 1px solid grey;
  }

  #menu-icon {
    z-index: 1001;
    position: fixed;
    top: 0.25em;
    right: 1em;
    background: rgba(144, 144, 144, 0.65);
    border-radius: 4px;
    padding: 0 0.5em 0 0.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;

    i {
      color: white;
    }
  }

  #sidebar-overlay {
    z-index: 1002;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  #sidebar-close {
    position: absolute;
    top: 0;
    right: 1em;
  }

  #sidebar {
    z-index: 1003;
    height: 100%;
    position: fixed;
    right: -250px;
    transition: 0.5s;
    width: 230px;
    padding: 0 1em 0 1em;
    border-right: 0.5px solid lightgrey;
    box-shadow: 0.5em 0 2em 0 rgba(0, 0, 0, 0.125);
    background: white;
    opacity: 0.975;
    overflow-x: hidden;
    font-size: 0.8em;
    color: grey !important;

    a {
      color: grey !important;
    }

    ul li {
      display: block;
      width: 240px;
      transition: 0.8s;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    ul li:not(:last-child) {
      border-bottom: 1px solid rgba(144, 144, 144, 0.2) !important;
    }

  }

}
