/* Layout */

html {
  scroll-behavior: smooth;
}

/* MathJax */

mjx-container {
  outline:  none!important;
  overflow-x: auto;
  overflow-y: hidden;
}

mjx-math {
  margin-bottom: 0.3em;
}

mjx-container::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
}

mjx-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  background-color: lightgrey;
}

/* Info, Warning, Error, Question */

div.info:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjM2ZhNWRiJyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMy40IDIyLjNjMC4xIDAuMSAwLjIgMC4xIDAuMyAwLjEgMC4xIDAgMC4zLTAuMSAwLjUtMC4yIDAuNS0wLjQgMS0xIDEuNi0xLjdsMC41IDAuM2MtMC42IDAuOS0xLjMgMS43LTIuMiAyLjQtMC42IDAuNS0xLjIgMC43LTEuOCAwLjctMC40IDAtMC43LTAuMS0wLjktMC4zcy0wLjQtMC41LTAuNC0wLjhjMC0wLjMgMC4xLTAuOSAwLjMtMS43bDEuOC02LjFjMC4zLTEgMS0zLjQgMS0zLjRsMi4xLTAuMy0yLjcgOS42Yy0wLjIgMC42LTAuMyAxLTAuMyAxLjIgMCAwLjEgMCAwLjMgMC4xIDAuNHpNMTcgOC4xYy0wLjMgMC4zLTAuNiAwLjQtMSAwLjRzLTAuNy0wLjEtMS0wLjRjLTAuMy0wLjMtMC40LTAuNi0wLjQtMSAwLTAuNCAwLjEtMC43IDAuNC0xIDAuMy0wLjMgMC42LTAuNCAxLTAuNHMwLjcgMC4xIDEgMC40YzAuMyAwLjMgMC40IDAuNiAwLjQgMSAwIDAuNC0wLjEgMC43LTAuNCAxeicvPjwvc3ZnPg==);
}

div.info {
  background: #e6f4fa !important;
}

div.warning::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjZjM5NTM5JyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMi43IDIyLjZjLTAuNyAwLTEuMi0wLjYtMS4yLTEuMyAwLTAuOCAwLjYtMS41IDEuNC0xLjUgMC43IDAgMS4yIDAuNiAxLjIgMS4zIDAgMC44LTAuNiAxLjQtMS40IDEuNHpNMTQuMSAxOC4xaC0xLjRsMS43LTEwLjVoMi4xbC0yLjMgMTAuNXonLz48L3N2Zz4=);
}

div.warning {
  background: #fdefe1;
}

div.error::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjYzIxOTM2JyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44LTcuNiAwLTEzLjggNi4yLTEzLjggMTMuOHM2LjIgMTMuOCAxMy44IDEzLjhjMy41IDAgNi43LTEuMyA5LjItMy41bDcuMiAyLTQuMS01Ljl6TTE3LjcgMTkuNmgtMi41bC0wLjUtMS4yYy0wLjItMC42LTAuNC0xLTAuNS0xLjRoLTAuMWMtMC4yIDAuNC0wLjQgMC44LTAuOCAxLjNsLTAuOSAxLjRoLTIuNmwzLjQtNC0xLjgtMy44aDIuNWwwLjUgMS4yYzAuMiAwLjYgMC40IDEgMC41IDEuM2gwYzAuMy0wLjQgMC41LTAuOCAwLjgtMS4ybDAuOS0xLjJoMi42bC0zLjMgMy44IDEuOCA0eicvPjwvc3ZnPg==);
}

div.error {
  background: #f9d2d8;
}

div.question::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjNTY1NjU2JyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMy4yIDIyLjZjLTAuNyAwLTEuMi0wLjYtMS4yLTEuMyAwLTAuOCAwLjYtMS41IDEuNC0xLjUgMC43IDAgMS4yIDAuNiAxLjIgMS4zIDAgMC44LTAuNiAxLjQtMS40IDEuNHpNMTYuNiAxNC40Yy0xLjEgMS4xLTEuNiAyLTEuNyAzLjIgMCAwLjItMC4xIDAuNC0wLjEgMC42aC0xLjhjMC0wLjIgMC0wLjQgMC0wLjYgMC4xLTEuMiAwLjctMi41IDIuMS00IDEtMSAxLjktMiAxLjktMy4yIDAtMC44LTAuNC0xLjUtMS43LTEuNS0wLjggMC0xLjYgMC4yLTIuMiAwLjZsLTAuMy0xLjNjMC44LTAuNSAxLjgtMC44IDMtMC44IDIuMSAwIDMuMSAxLjQgMy4xIDIuNyAwIDEuNy0xLjEgMy0yLjQgNC4zeicvPjwvc3ZnPg==);
}

div.question {
  background: #f4f4f4;
}

div.error::before, div.warning::before, div.info::before, div.question::before {
  position: relative;
  top: 0;
  left: -1em;
}

div.error, div.warning, div.info, div.question {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0 1em 1em 1em;
  font: inherit !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: auto !important;
  width: 100%;
}

/* Article */

.article-card-container {
  z-index: 1;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 400px;
  border-radius: 10px;

  .article-card {
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;

    .article-cover {
      img {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }

    .article-details {
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size: 1em !important;

      .article-title {
        font-weight: bold;
        color: black;
        font-size: 1.2em;
      }

      .article-description {
        color: grey;
        font-weight: 300;
        font-size: 0.9em;
      }

      .date {
        position: absolute;
        bottom: 50px;
        left: 30px;
        font-size: 0.8em;
      }

      .reading-time {
        position: absolute;
        bottom: 50px;
        right: 30px;
        font-size: 0.8em;
      }
    }

    i.icon:hover {
      color: black;
    }

  }
}

.article-category, .article-labels {
  padding: 0;
  font-size: 0.8em;

  ul {
    display: inline;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 0.3em 0.9em;
      margin: 0.25em 0.5em 0.25em 0;
      border-radius: 5px;
    }

    a {
      text-decoration: none;
    }
  }
}

.article-category {
  li {
    background-color: #e7f3ff;
    color: #0366d6;
  }
}

.article-labels {
  li {
    background-color: whitesmoke;
    color: grey;
  }
}


/* Content */

#content {
  padding: 2em;
  min-height: 100vh;
}

/* Loader */

#loader {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;

  #loader-inner {
    margin-top: 150px;
  }
}

/* Comment */

.comments {
  h5 {
    color: grey;
  }

  #disqus_thread {
    width: 100%;
    height: auto;
  }

}

/* Multi-Lang */

#original-lang {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: grey;
  font-style: italic;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.05);
  z-index: 1000;
  font-size: 1em;
  line-height: 1.2em;
  height: 1.2em;
}

/* Breadcrumb */

#breadcrumb {
  display: block !important;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white !important;

  .sep {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: dimgray !important;
  }

  a {
    color: cornflowerblue !important;
  }

  a:last-child {
    font-weight: bold !important;
  }

}

/* Underline */

.underline {
  text-decoration: underline !important;
}

/* List */

ul {
  padding-inline-start: 0;
}

/* Link and anchor */

a, a:visited, a:active, a:link, a:hover {
  color: inherit !important;
  text-decoration: none;
}

.link, .link-underline, .link-zoom, .link-light, .link-strong {
  text-decoration: none;
  cursor: pointer;
}

.link-underline:hover {
  text-decoration: underline !important;
}

.link-strong:hover {
  font-weight: bold;
}

.link-zoom:hover {
  font-size: 100.5% !important;
}

.link-light:hover {
  opacity: 1 !important;
}

.link-strong:hover {
  font-weight: 700 !important;
}

/* Icon */

.icon {
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  text-align: center;
}

.icon.rounded {
  border-radius: 50% !important;
  display: inline-block;
}

.icon:hover {
  text-decoration: none;
  color: white;
}

/* Print */

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
