.social {
  cursor: default;
  list-style: none;
  color: white !important;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    display: inline;
    margin-left: 0.5em;
  }

  .fa-facebook {
    background-color: #3B5998;
  }

  .fa-x-twitter {
    background-color: black;
  }

  .fa-linkedin {
    background-color: #31516a;
  }

  .fa-paper-plane {
    background-color: #b6b6b4;
  }

  .fa-medium {
    background-color: black;
  }

  .fa-github {
    background-color: black;
  }

  .fa-slideshare {
    background-color: #2daae4;
  }

}
