---
layout: default
articles: true
---
<div id="page-articles">

  <!-- Blog header -->
  <div class="blog-header">

    <p>
      <img src="/static/img/site-logo.png" alt="site logo"/>
    </p>

    <h1 class="notranslate">Software Engineering</h1>

    <p>
      <a href="" class="typewrite notranslate" data-period="1000" style="color: cornflowerblue"
         data-type='["Research & Development", "Algorithm", "Data", "Machine Learning", "Web", "Security", "Applied Mathematics", "Reliability & Infrastructure", "Design", "System", "Methodology", "Business"]'>
        <span class="blinker"></span>
      </a>
    </p>

    <p style="color: grey">
      “Truth can only be found in 2 places: the informatics code and the mathematics.”
    </p>

  </div>

  <!-- Articles advanced search -->
  <div id="articles-text-search">
    <input placeholder="" type="text"/>
    <a href="javascript:">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <ul class="articles-advanced-search">
    <li class="articles-archive-button">
      <a href="javascript:" class="link-strong">
        <i class="fa fa-archive" aria-hidden="true"></i>
        Archives
      </a>
    </li>
    <li class="articles-categories-button">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <a href="javascript:" class="link-strong">
        Categories
      </a>
    </li>
  </ul>


  <div id="articles-archive-container" class="filter-result-advanced-search"
       style="display: none">
  </div>
  <div id="articles-categories-container" class="filter-result-advanced-search"
       style="display: none">
  </div>

  <div id="result-advanced-search"></div>


  <hr/>

  <!-- Articles subscriptions -->
  <ul class="articles-subscription">
    <li>
      Subscribe:
    </li>
    <li>
      <i class="fa fa-rss" aria-hidden="true"></i>
      <a href="/atom.xml" class="link-strong">
        Atom
      </a>
      |
      <a href="/rss.xml" class="link-strong">
        RSS
      </a>
    </li>
  </ul>

  <!-- Articles list -->
  <div class="list-articles">
    <div class="row">
      {% assign posts = paginator.posts %}
      {% for post in posts %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        {% include article-card.html %}
      </div>
      {% else %}
      <p>No one available article</p>
      {% endfor %}
    </div>
  </div>

  <!-- Pagination links -->
  <div class="articles-pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <i class="fa fa-arrow-circle-left"></i>
    </a>
    {% endif %}
    <span class="page_number ">
    page: {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
      <i class="fa fa-arrow-circle-right"></i>
    </a>
    {% endif %}
  </div>

</div>
