---
layout: default
article: true
---
<div id="page-articles">

  <h3 class="notranslate title-page"><i class="fa fa-cloud"></i> Articles</h3>

  <hr/>

  <!-- Articles -->
  <div class="list-articles">
    <div class="row">
      {% assign posts = paginator.posts | sort: 'date' | reverse %}
      {% for post in posts %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        {% include article.html %}
      </div>
      {% else %}
      <p>No one available article</p>
      {% endfor %}
    </div>
  </div>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
  </div>

</div>
