---
---
.list-articles {
  text-align: center;

  li.article:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }

  li.article {
    a {
      color: grey;
    }

    padding-bottom: 1em;
    margin-left: 4em;
    margin-right: 4em;

    .title {
      font-weight: bold;
    }

    .description {
      font-style: italic;
    }

    ul.meta-data {
      list-style-type: none;
      font-size: 0.8em;

      li {
        display: inline-block;
        margin-left: 1em;
      }

      img {
        height: 1em;
        width: 1em;
      }

    }

    /* Tags */

    .tags {
      padding: 0;
      text-align: center;
      font-size: 0.8em;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline;
          padding: 0.3em 0.9em;
          margin: 0.25em 0.5em 0.25em 0;
          background-color: #e7f3ff;
          border-radius: 3px;
        }

        li:hover {
          background-color: #ddeeff;
        }

        li a {
          color: #0366d6;
          text-decoration: none;
        }
      }
    }

  }
}
