---
layout: default
permalink: /blog/articles
---
<div id="page-articles">

  <h3 class="title-page">Articles</h3>

  <div class="breadcrumb">
    <a href="/">Home</a><span class="sep"> &gt; </span>
    <a href="/blog">Blog</a><span class="sep"> &gt; </span>
    <a href="/blog/articles">Articles</a>
  </div>

  <hr>

  <div class="list-articles">
    <ul>
      {% assign posts = site.posts | sort: 'date' | reverse %}
      {% for post in posts %}
      <li class="article">
        <a href="{{ post.url }}">
          <p class="title">{{ post.title | capitalize }}</p>
          <p class="description">{{ post.description }}</p>
          <ul class="meta-data">
            <li>
              <i class="fa fa-calendar"></i>
              <span> {{ post.date | date: '%A, %B %d, %Y' }}</span>
            </li>
            <li>
              <i class="fa fa-bookmark-o"></i>
              <span>{{ post.time_reading_minutes }} min</span>
            </li>
            <li>
              <img src="/website/img/lang/english.png">
              EN
            </li>
          </ul>
          <!-- ul class="tags">
            {% for tag in post.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul -->
        </a>
      </li>
      {% else %}
      <i>No one available article</i>
      {% endfor %}
    </ul>
  </div>
</div>
