---
layout: default
---
{%- assign article_id = page.date | date: '%Y-%m-%d-' | append: page.title | slugify -%}
{%- assign related_posts = site.posts | sample:4 -%}
{%- assign n_tags = page.tags | size -%}
{%- assign n_authors = page.authors | size -%}
<div id="page-article">


  <!-- Article metadata -->
  <div class="article-metadata">

    <!-- Article category -->
    <div class="article-category">
      <ul>
        <li>{{ page.category }}</li>
      </ul>
    </div>

    <!-- Article title -->
    <div class="article-title">
      {{ page.title }}
    </div>

    <!-- Article description -->
    <div class="article-description">
      {{ page.description }}
    </div>

    <!-- Article details -->
    <div class="article-details">
      <ul>
        <li>
          <i class="fa fa-calendar"></i>
          <span>{{ page.date | date: '%B %d, %Y' }}</span>
        </li>
        <li>
          <i class="fa fa-bookmark-o"></i>
          <span>{{ page.time_reading_minutes }} min</span>
        </li>
        {%- if n_authors > 0 -%}
        <li>
          <i class="fa fa-user"></i>
          <span>{{ page.authors | join: ", " }}</span>
        </li>
        {%- endif -%}
      </ul>
    </div>

    <!-- Article cover -->
    <div class="article-cover">
      <img class="img-fluid" src="/static/img/articles/cover/{{ article_id }}.jpg"
           alt="{{ article_id }}"/>
    </div>

    <!-- Article contents -->
    <div class="article-contents">
      <button id="table-of-contents" class="btn btn-light">
        See contents
      </button>
      <div id="table-of-contents-container" style="display: none;"></div>
    </div>

  </div>

  <!-- Article content -->
  <div id="article-content">

    <div class="row" style="margin-bottom: 1em">
      <div class="col-6">
        {% include page-social-sharing.html %}
      </div>
      <div class="col-6 article-browser">
        <a href="/blog/articles" title="All articles">
          <i class="fa fa-home"></i>
        </a>
        {%- if page.previous.url -%}
        <a href="{{ page.previous.url }}" title="Previous article">
          <i class="fa fa-arrow-left"></i>
        </a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{ page.next.url }}" title="Next article">
          <i class="fa fa-arrow-right"></i>
        </a>
        {%- endif -%}
      </div>
    </div>

    <div class="markdown-body">
      {{ content }}
    </div>

    <div class="article-category-tags">
      <ul>
        <li>
          <!-- Article category -->
          <span>Category: </span>
          <span class="article-category">
        <ul>
          <li>{{ page.category }}</li>
        </ul>
      </span>
        </li>
        {% if n_tags > 0 %}
        <li>
          <!-- Article tags -->
          <span>Tags: </span>
          <span class="article-labels">
        <ul>
          {% for tag in page.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </span>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="row">
      <div class="col-6">
        {% include page-social-sharing.html %}
      </div>
      <div class="col-6 article-browser">
        <a href="/blog/articles" title="All articles">
          <i class="fa fa-home"></i>
        </a>
        {%- if page.previous.url -%}
        <a href="{{ page.previous.url }}" title="Previous article">
          <i class="fa fa-arrow-left"></i>
        </a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{ page.next.url }}" title="Next article">
          <i class="fa fa-arrow-right"></i>
        </a>
        {%- endif -%}
      </div>
    </div>

  </div>

  <!-- Article license -->
  <div class="article-license" title="See license">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
      <i class="cc">Creative Commons Attribution 4.0 International License:</i>
      <br/>
      <span class="cc-icon" title="CC"></span>
      <span class="ccby-icon" title="BY"></span>
      <span class="ccnc-icon" title="NC"></span>
      <span class="ccsa-icon" title="SA"></span>
    </a>
  </div>
  <br>

  <!-- Article author -->
  {%- if n_authors > 0 -%}
  <div class="article-authors">
    <h5>
      Author{%- if n_authors > 1 -%}s{%- endif -%}
    </h5>

    <hr/>

    <div class="row">
      {%- for author_name in page.authors -%}
      {%- assign author = site.data.authors[author_name] -%}
      <div
        class="{% if n_authors == 1 %}w-100 {% endif %}col-xs-12{% if n_authors > 1 %} col-md-6{% endif %}{% if n_authors > 2 %} col-lg-4{% endif %}">
        <table class="article-author">
          <tbody>
          <tr>
            <td rowspan="2">
              <img class="" src="/static/img/articles/author/{{ author_name }}.jpg"
                   alt="{{ page.author }}">
            </td>
            <td>
              <b class="black">
                {{ author.firstname | capitalize }}
                {{ author.lastname | uppercase }}
              </b>
              ({{ author_name }})
            </td>
          <tr>
            <td>
              <span class="notranslate job">
              {{ author.job | capitalize }} @{{ author.company | capitalize }}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center">
              <a href="{{ author.follow_link }}">
                <br>
                <button class="btn btn-dark">
                  <b class="black">Follow</b>
                </button>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}

  <!-- Other articles -->
  <div class="article-others">
    <h5>Also read</h5>

    <div class="row">
      {% assign index = 0 %}
      {% for post in related_posts %}
      {% if index == 3 %}
      {% break %}
      {% endif %}
      {% if page.title != post.title %}
      {% assign index = index | plus: 1 %}
      <div class="col-xs-12 col-md-6 col-lg-4">
        {% include article-card.html %}
      </div>
      {% else %}
      {% continue %}
      {% endif %}
      {% endfor %}
    </div>

    <div class="article-list-all">
      <a href="/blog/articles">
        <button class="btn btn-dark">
          <b class="black">List all</b>
        </button>
      </a>
    </div>
  </div>

  <!-- Comments -->
  {% include disqus.html %}

</div>
