<!DOCTYPE html>
<html>

<head>
  {% include meta.html %}
  {% include js.html %}
  {% include css.html %}
</head>

<body>

<div id="original-lang" class="notranslate">
  Français traduit depuis l'anglais.
</div>

<header class="notranslate">
  {% include header.html %}
</header>

<div id="content" class="container">
  <div class="row">
    {% include loader.html %}
    {{ content }}
  </div>
</div>

<footer class="notranslate">
  {% include footer.html %}
</footer>

{% include mathjax.html %}
{% include google-analytics.html %}
{% include google-translate.html %}
</body>

</html>
