<!DOCTYPE html>
<html>

<head>
  {% include meta.html %}
  {% include js.html %}
  {% include css.html %}
</head>

<body>

<div id="original-lang" class="notranslate">
  Français traduit à la volée.
</div>

<header class="notranslate">
  {% include header.html %}
</header>

<div id="content" class="container">
  <div class="row">
    {% include loader.html %}
    {{ content }}
  </div>
</div>

<footer class="notranslate">
  {% include footer.html %}
</footer>
{% include google-translate.html %}

<!-- Loader -->
<script type="text/javascript">
    $(window).on("load", function () {
        $("#loader").fadeOut("slow");
    });
</script>

</body>

</html>
