<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
  {% include meta.html %}
  {% include link.html %}
  {% include js.html %}
  {% include css.html %}
</head>

<body>

<div id="original-lang">
  {{ site.data.config.lang.header_text }}
</div>

<header class="notranslate">
  {% include header.html %}
</header>

<div id="content" class="container">
  <div class="row">
    {% include loader.html %}
    {{ content }}
    {% include disqus.html %}
  </div>
</div>

<footer class="notranslate">
  {% include footer.html %}
</footer>

{% include go-to-top.html %}

{% include google-analytics.html %}
{% include google-translate.html %}
</body>

</html>
