---
---
#page-home {

  .blog-header {

    .blog-title {
      margin-top: 0.5em;
      color: black;
    }

    .blog-keywords {
      color: cornflowerblue;

      .blinker {
        font-weight: 400;
        font-size: 1.5em;
      }
    }

    .blog-quote {
      color: grey;
      font-weight: 300;
    }

  }

}
