---
layout: default
redirect_from:
- /home/
---
{%- assign config_blog = site.project.blog -%}

<div id="page-home" style="text-align:justify">

  <p class="text-center">
    &ldquo; <span class="d-inline-block">Hello :wave:,</span> I am a <b class="notranslate">senior software engineer</b>
    at <b><img height="25" src="/_static/common/img/criteo-ai-lab.png" alt="criteo-ai-lab"> Criteo AI Lab</b>. <br>
    I share <span class="d-inline-block"><a href="/blog/">:newspaper: <b><u>tech blog posts</u></b></a></span>
    about my works and interests, mostly about <b><img height="25" src="/_static/common/img/data.png" alt="data"> Data + <img height="25" src="/_static/common/img/ai.png" alt="ai"> AI</b>. &rdquo;
  </p>

  <div class="blog-header">

    <div class="row">
      <div class="col-md-6 blog-avatar text-center">
        {% include avatar.html %}
        <br>
        <a href="/about/#about-me" target="_blank" rel="noopener noreferrer" title="About me">
          <button class="btn btn-secondary">
            <b class="black">About me</b>
          </button>
        </a>
      </div>

      <div class="col-md-6 text-center" style="margin-top:1em;margin-bottom:1em">
        <img width="130px" src="/_static/config/img/site-logo.png" alt="site logo glegoux.com">
        {% include blinker-info.html
              title=config_blog.title
              keywords=config_blog.keywords
              link="/blog/articles"
              link-text="Read tech blog posts"
              link-tooltip="Read the published tech blog posts"
        %}
      </div>
    </div>
  </div>

  {% include content/separator.html %}

  <p class="text-center">
    <b style="font-size: 2em">Pinned tech blog posts</b>
  </p>

  <div class="row">
    {% assign posts = site.posts | where:'pinned', true %}
    {%- for post in posts %}
    <div class="col-xs-12 col-md-6 col-lg-4">
      {% include card-article.html
      url=post.url
      date=post.date
      title=post.title
      description=post.description
      category=post.category
      time_reading_minutes=post.time_reading_minutes
      draft=post.draft
      %}
    </div>
    {%- else -%}
    <p>No one available pinned article</p>
    {%- endfor %}
  </div>

  <div class="text-center">
    <a href="/blog/articles/" title="Read other blog posts">
      <b class="black">Read other tech blog posts ➡️</b>
    </a>
  </div>

  {% include content/separator.html %}

  <p id="accessibility" class="text-center">
    <b style="font-size: 2em">Accessibility</b>
  </p>

  <div class="row">
    <div class="col-12 col-md-4" style="text-align: center;">
      <img class="margin: auto" width="75%" src="/_static/common/img/all-devices.png" alt="all-devices">
    </div>

    <div class="col-12 col-md-8">
      This content is available and adapted for
      <b>all devices with a web browser</b>.
      Add this tech blog as a:
      <br><br>
      <ul style="padding-inline-start: 2em">
        <li><b>favorite bookmark</b> of your <span class="d-inline-block"><img width="25" height="25" src="/_static/common/img/web-icon.png" alt="web browser"/> <b>web</b></span> <b>browser</b></li>
        <li><b>desktop shortcut</b> of your <span class="d-inline-block"><b>:computer: computer</b></span> like your other native desktop applications.</li>
        <li><b>home screen icon</b> of your <span class="d-inline-block"></span><b>📱 tablet or mobile</b></span> like your other native mobile applications.</li>
      </ul>
    </div>
  </div>

  {% include content/separator.html %}

  <p id="follow-me" class="text-center">
    <b style="font-size: 2em">Follow me</b>
  </p>

  <p>
    Follow me on these different platforms, my pseudo is either
    <img style="width:25px; height:25px" class="icon-avatar" src="/_static/common/img/avatar.jpg" alt="avatar"> <b>glegoux
    and/or gilleslegoux</b>:<br>
    {% include social.html %}
  </p>

  {% include content/separator.html %}

  <p id="contact-me" class="text-center">
    <b style="font-size: 2em">Contact me</b>
  </p>

  {% include project/contact-me.html %}

  {% include project/contact-me-why.html %}

</div>
