---
layout: default
redirect_from:
- /home/
---
{%- assign config_blog = site.project.blog -%}

<div id="page-home">

  <!-- Blog title -->
  <div class="blog-header">

    <div class="row">
      <div class="col-6 blog-avatar">
        {% include project/avatar.html %}
      </div>

      <div class="col-6 text-left">
        <h2 class="notranslate blog-title">{{ config_blog.title }}</h2>

        <p class="typewrite notranslate blog-keywords" data-period="1000"
           data-type='["{{ config_blog.keywords | join: '", "' }}"]'>
        <span class="blinker"></span>
        </p>
      </div>
    </div>

  </div>

  <p style="text-align:justify">
    Briefly, I am a <b class="notranslate">Senior Software Engineer</b>. I love coding algorithms
    or/and doing
    applied mathematics. I worked as <span class="notranslate"> web full stack developer</span>
    <img width="25" height="25" src="/_static/common/img/web-icon.png" alt="web-icon"> and
    <span class="notranslate"> software reliability engineer</span>
    <img width="25" height="25" src="/_static/common/img/infra.png" alt="infra"> for platforms and
    infrastructures,
    and now I work as data engineer with machine learning at scale.
    I have had several professional experiences by working successively in a <b>start-up</b> and
    in a <b>multinational organization</b>. I am very excited by the start-up company world
    <img width="25" height="25" src="/_static/common/img/startup.png" alt="startup"> and the process
    of creation.
    I am passionate about the computer science and the data science
    <img width="25" height="25" src="/_static/common/img/data-science.png" alt="data-science">, and
    more generally about
    <b>informatics and mathematics</b>. One of my preferred formulae is the Euler's identity:
    <span class="notranslate"> $ e^{i\pi} + 1 = 0 $ </span>. My favorite programming languages are
    Java <img width="25" height="25" src="/_static/common/img/java.png" alt="java">,
    Scala <img width="25" height="25" src="/_static/common/img/scala.png" alt="scala">,
    Python <img width="25" height="25" src="/_static/common/img/python.png" alt="python">, and
    Bash <img width="25" height="25" src="/_static/common/img/bash.png" alt="bash">.
    I am a Linux user <img width="25" height="25" src="/_static/common/img/linux.png" alt="linux">
    using mainly Ubuntu <img width="25" height="25" src="/_static/common/img/ubuntu.png"
                             alt="ubuntu">
    for the development.
  </p>

  <div style="text-align:justify">
    <p>
      Here my <b>technical stack</b>, that is to say some technologies that I have already used. It
      is
      non-exhaustive, new technologies occurs and disappears over time, and the list continues to
      increase,
      and I use only some of them in function of the project on which I work:
    </p>
    {% include project/tech-stack.html %}
  </div>

  <div style="text-align:justify">
    <p>
      You can follow me on these different platforms, my pseudo is either <b>glegoux</b> and/or <b>gilleslegoux</b>:
    </p>
    {% include social.html %}
  </div>

</div>
