---
layout: default
redirect_from:
- /home/
---
{%- assign config_blog = site.project.blog -%}

<div id="page-home" style="text-align:justify">

    <p style="text-align:center">
        Hello :wave:, I am a <b class="notranslate">senior software engineer</b>. I share 
        <a href="/blog/"><img width="25" height="25" src="/_static/common/img/post.png" alt="post"> <b><u>blog posts</u></a></b> about my works and interests:
    </p>

    <div class="blog-header">

        <div class="row">
            <div class="col-lg-6 blog-avatar">
                {% include project/avatar.html %}
            </div>

            <div class="col-lg-6" style="text-align:center;margin-top:1em;margin-bottom:1em">
                <h2 class="notranslate blog-title">{{ config_blog.title }}</h2>

                <p class="typewrite notranslate blog-keywords" data-period="1000"
                   data-type='["{{ config_blog.keywords | join: '", "' }}"]'>
                <span class="blinker"></span>
                </p>

                <a href="/blog/">
                    <button class="btn btn-dark">
                        <b class="black">Read blog posts</b>
                    </button>
                </a>
            </div>
        </div>

    </div>

    {% include separator.html %}

    <p style="text-align:justify">
        I work as <b><img width="25" height="25" src="/_static/common/img/data.png" alt="data"> data engineer with
        <img width="25" height="25" src="/_static/common/img/ai.png" alt="artificial-intelligence"> artificial intelligence at scale</b> now, before I worked as
        <span class="notranslate"> web full stack developer</span> and <span class="notranslate"> software reliability engineer</span>
        for platforms and infrastructures. I have had several professional experiences by working successively
        in <img width="25" height="25" src="/_static/common/img/startup.png" alt="startup"> <b>start-up and
        <img width="25" height="25" src="/_static/common/img/multinational-company.png" alt="multinational-company"> multinational organization</b>
        for years. I am very excited by the start-up company world and the process of creation until it becoming a responsible and large company.
    </p>

    <div>
        <p>
            Here my <img width="25" height="25" src="/_static/common/img/stack.png" alt="stack"> <b>technical stack</b>,
            that is to say some technologies that I have already used. It is non-exhaustive, new technologies occurs and disappears over time, and the list continues to
            increase, and I use only some of them in function of the project on which I work:
        </p>
        {% include project/tech-stack.html %}
    </div>

    {% include separator.html %}

    <p style="text-align:justify">
        I love coding algorithms or/and doing applied mathematics. I am passionate about the
        <b><img width="25" height="25" src="/_static/common/img/computer-science.png" alt="computer-science"> computer science and
            <img width="25" height="25" src="/_static/common/img/data-science.png" alt="data-science"> data science</b>,
        and more generally about informatics and mathematics.
        My favorite programming languages, among those I use, are:
    </p>

    <p style="text-align: center">
        Java <img width="25" height="25" src="/_static/common/img/java.png" alt="java"> |
        Scala <img width="25" height="25" src="/_static/common/img/scala.png" alt="scala"> |
        Python <img width="25" height="25" src="/_static/common/img/python.png" alt="python"> |
        Bash <img width="25" height="25" src="/_static/common/img/bash.png" alt="bash">
        under <img width="25" height="25" src="/_static/common/img/linux.png" alt="linux"> Linux
        and <img width="25" height="25" src="/_static/common/img/ubuntu.png" alt="ubuntu"> Ubuntu
        for the development.
    </p>

    <p>
        One of my preferred formulae is the Euler's identity:
    </p>

    <p style="text-align: center">
        <span class="notranslate"> $ e^{i\pi} + 1 = 0 $ </span>.
    <p>

    <p>
        Else, I like :rugby_football: rugby, :soccer: soccer, <img width="25" height="25" src="/_static/common/img/mtga.png" alt="mtga">
        magic the gathering arena, and the juggling, especially the <img width="25" height="25" src="/_static/common/img/diabolo.png" alt="diabolo"> “diabolo”.
    </p>

    {% include separator.html %}

    <div class="row">
        <div class="col-lg-6">
            <p>
                Follow me on these different platforms, my pseudo is either 
                <img style="width:25px; height:25px" class="icon-avatar" src="/_static/common/img/avatar.jpg" alt="avatar"> <b>glegoux</b> and/or 
                <img style="width:25px; height:25px" class="icon-avatar" src="/_static/common/img/avatar.jpg" alt="avatar"> <b>gilleslegoux</b>:
            </p>

            {% include social.html %}
        </div>

        <div class="col-lg-6">
            {% include project/contact-me.html %}
        </div>
    </div>

    {% include project/contact-me-why.html %}

</div>
