---
layout: default
---
{%- assign config_article = site.project.article -%}
{%- assign article_id = page.date | date: '%Y-%m-%d-' | append: page.title | slugify -%}
{%- assign related_posts = site.posts | sample:4 -%}
{%- assign n_tags = page.tags | size -%}
{%- assign n_authors = page.authors | size -%}
<div id="page-article" class="col-12">

  <!-- Article metadata -->
  <div class="article-metadata">

    <!-- Article category -->
    <div class="article-category">
      <ul>
        <li title="Category of this article">{{ page.category }}</li>
      </ul>
    </div>

    <!-- Article title -->
    <div class="article-title" title="Title of this article">
      {{ page.title }}
    </div>

    <!-- Article description -->
    <div class="article-description" title="Description of this article">
      {{ page.description }}
    </div>

    <!-- Article details -->
    <div class="article-details">
      <ul>
        <li title="Published date of this article">
          <i class="far fa-calendar-alt"></i>
          <span>{{ page.date | date: '%B %d, %Y' }}</span>
        </li>
        <li title="Reading time of this article">
          <i class="far fa-clock"></i>
          <span>
            {{ page.time_reading_minutes }} min
          </span>
        </li>
        {%- if n_authors > 0 -%}
        <li title="Author{%- if n_authors > 1 -%}s{%- endif %} of this article">
          <i class="far fa-user"></i>
          <span>
            {%- for author_name in page.authors -%}
              {%- assign author = config_article.authors[author_name] -%}
              <a class="link-strong" href="{{ author.follow_link }}" title="Follow this author">
                {{ author_name }}
              </a>
              {%- unless forloop.last -%},  {%- endunless -%}
            {%- endfor -%}
          </span>
        </li>
        {%- endif -%}
      </ul>
    </div>

    <!-- Article cover -->
    <div class="article-cover" title="Cover of this article">
      <div class="article-actions no-print">
        <ul>
          {%- if config_article.source_code.url -%}
          <li title="See the source code of this article">
            <a href="{{ config_article.source_code.url }}/{{ article_id }}.md">
              <i class="far fa-file-code"></i>
              Source
            </a>
          </li>
          {%- endif -%}
          {%- if config_article.resources.url -%}
          <li title="See the resources of this article">
            <a href="{{ config_article.resources.url }}/{{ article_id }}">
              <i class="fas fa-code-branch"></i>
              Resources
            </a>
          </li>
          {%- endif -%}
          {%- if config_article.edit.url -%}
          <li title="Edit this article (if you have permission)">
            <a href="{{ config_article.edit.url }}/{{ article_id }}.md">
              <i class="fas fa-edit"></i>
              Edit
            </a>
          </li>
          {%- endif -%}
          {%- if config_article.issue.url -%}
          <li title="Report an issue on this article">
            <a href="{{ config_article.issue.url }}">
              <i class="fas fa-exclamation-circle"></i>
              Issue
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>

    {%- assign article_cover_path = "/_static/posts/" | append: article_id | append: ".jpg" -%}
    {%- assign article_cover_path_exist = site.static_files | where: "path", article_cover_path |
    first -%}
    {%- unless article_cover_path_exist -%}
    {%- assign article_cover_path = "/_core/static/img/default/article-cover.jpg" -%}
    {%- endunless -%}
    <img class="img-fluid lazyload" data-src="{{ article_cover_path }}"
         alt="{{ article_id }}" title="Cover of this article"/>

  </div>

  <!-- Article content -->
  <div id="article-content">

    <div class="row">
      <div class="col-6">
        {% include page-social-sharing.html %}
      </div>
      <div class="col-6 article-browser">
        <a href="/blog/articles" title="See all articles">
          <i class="fas fa-home"></i>
        </a>
        {%- if page.previous.url -%}
        <a href="{{ page.previous.url }}" title="See the previous article">
          <i class="fas fa-arrow-left"></i>
        </a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{ page.next.url }}" title="See the next article">
          <i class="fas fa-arrow-right"></i>
        </a>
        {%- endif -%}
      </div>
    </div>

    <hr class="sep"/>

    <div class="row">
      <div class="col-6">
        <!-- Article table of contents -->
        <div id="table-of-contents" title="See or hide the table of contents">
          <i class="fas fa-list-ul"></i> Table of contents
        </div>
      </div>
      <div class="col-6">
        <!-- Article license -->
        <div class="article-license" title="See the license">
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
            <i class="cc notranslate">Creative Commons Attribution 4.0 International License:</i>
            <br/>
            <i class="fab fa-creative-commons notranslate" title="CC"></i>
            <i class="fab fa-creative-commons-by notranslate" title="BY"></i>
            <i class="fab fa-creative-commons-nc notranslate" title="NC"></i>
            <i class="fab fa-creative-commons-sa notranslate" title="SA"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Article table of contents container -->
    <div id="table-of-contents-container" style="display: none;"></div>

    <div class="markdown-body">
      {{ content }}
    </div>

    <div class="article-category-tags">
      <ul>
        <li>
          <!-- Article category -->
          <span>Category: </span>
          <span class="article-category">
            <ul>
              <li title="Category of this article">{{ page.category }}</li>
            </ul>
          </span>
        </li>
        {% if n_tags > 0 %}
        <li>
          <!-- Article tags -->
          <span>Tags: </span>
          <span class="article-labels">
            <ul>
              {% for tag in page.tags %}
              <li title="Tag of this article">{{ tag }}</li>
              {% endfor %}
            </ul>
          </span>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="row">
      <div class="col-6">
        {% include page-social-sharing.html %}
      </div>
      <div class="col-6 article-browser">
        <a href="/blog/articles" title="See all articles">
          <i class="fa fa-home"></i>
        </a>
        {%- if page.previous.url -%}
        <a href="{{ page.previous.url }}" title="See the previous article">
          <i class="fa fa-arrow-left"></i>
        </a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{ page.next.url }}" title="See the next article">
          <i class="fa fa-arrow-right"></i>
        </a>
        {%- endif -%}
      </div>
    </div>

    <hr class="sep"/>

    <!-- Article license -->
    <div class="article-license" title="See the license">
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
        <i class="cc notranslate">Creative Commons Attribution 4.0 International License:</i>
        <br/>
        <i class="fab fa-creative-commons notranslate" title="CC"></i>
        <i class="fab fa-creative-commons-by notranslate" title="BY"></i>
        <i class="fab fa-creative-commons-nc notranslate" title="NC"></i>
        <i class="fab fa-creative-commons-sa notranslate" title="SA"></i>
      </a>
    </div>

  </div>

  <!-- Article author(s) -->
  {%- if n_authors > 0 -%}
  <div class="article-authors">
    <h5>
      Author{%- if n_authors > 1 -%}s{%- endif %}
    </h5>

    <hr/>

    <div class="row">
      {%- for author_name in page.authors -%}
      {%- assign author = config_article.authors[author_name] %}
      <div
        class="{% if n_authors == 1 %}w-100 {% endif %}col-xs-12{% if n_authors > 1 %} col-md-6{% endif %}{% if n_authors > 2 %} col-lg-4{% endif %}">
        <table class="article-author">
          <tbody>
          <tr>
            <td rowspan="2">
              {%- assign author_avatar_path = '/_static/authors/' | append: author_name | append:
              '.jpg' -%}
              {%- assign author_avatar_path_exist = site.static_files | where: "path",
              author_avatar_path | first -%}
              {%- unless author_avatar_path_exist -%}
              {%- assign author_avatar_path = '/_core/static/img/default/author-avatar.png' -%}
              {%- endunless -%}
              <img src="{{ author_avatar_path }}" alt="picture of {{ author_name }}"
                   title="picture of this author"/>
            </td>
            <td>
              <b>
                {{ author.firstname | capitalize }}
                {{ author.lastname | uppercase }}
              </b>
              ({{ author_name }})
            </td>
          <tr>
            <td>
              <span class="notranslate job">
              {{ author.job | capitalize }} @{{ author.company | capitalize }}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center">
              <a href="{{ author.follow_link }}" title="Follow this author">
                <br>
                <button class="btn btn-dark">
                  <b>Follow</b>
                </button>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      {%- endfor -%}
    </div>
  </div>
  {%- endif -%}

  <!-- Other articles -->
  <div class="article-others no-print">
    <h5>Also read</h5>

    <div class="row">
      {%- assign index = 0 -%}
      {%- for post in related_posts -%}
      {%- if index == 3 -%}
      {%- break -%}
      {%- endif -%}
      {%- if page.title != post.title -%}
      {%- assign index = index | plus: 1 -%}
      <a href="{{ post.url }}" title="Read this article" class="col-xs-12 col-md-6 col-lg-4">
        {%- include card-article.html -%}
      </a>
      {%- else -%}
      {%- continue -%}
      {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="article-list-all no-print">
      <a href="/blog/articles/">
        <button class="btn btn-dark" title="List all articles">
          <b>List all</b>
        </button>
      </a>
    </div>
  </div>

</div>
